{% extends 'bookmarks_main/template.html' %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="container mt-3">
                <div class="row">
                    <div class="col-12 text-center">
                        <h1 class="mb-3 fw-bold" style="color: #264461">Profile</h1>
                        <div class="col-12 container text-center">
                            <p><span class="fw-bold" style="color: #264461">Username:</span> {{user_object.username}}</p>
                            <p><span class="fw-bold" style="color: #264461">Email:</span> {{user_object.email}}</p>
                            <a href="{% url 'update_profile' %}" class="btn btn-outline-success text-center rounded-3 shadow-sm"><i class="fa-solid fa-pen-to-square"></i> Edit Profile</a>
                        </div>
                        <div class="col-12 container text-center">
                            <a href="{% url 'home-page' %}" class="btn btn-white border mt-3 rounded-3 shadow-sm">Back</a>
                        </div>
                    </div>
                </div>
        </div>
    {% else %}
        <p class="text-danger">You must be logged in to see this content</p>
    {% endif %}
{% endblock %}