{% extends './template.html' %}

{% block content %}

<style>
    @media screen and (min-width: 992px) {
    #main-row {
        margin-top: 5%;
    }
    /* #text-content{
        margin-top: 10%;
    } */

    #settings_button{
        width: 500px;
        color: #515b63;
    }
    #delete_user_button{
        width: 500px;
    }
    .input-group{
        width: 500px;
    }
}
#settings_button:hover:hover {
        color: rgb(151,205,112);
    }
#inputGroupFileAddon04{
    color: #515b63;
}
#inputGroupFileAddon04:hover:hover{
    color: rgb(151,205,112);
}
</style>

<div class="container">
	<div class="row px-3" id="main-row">

        <div class="col-lg-6 col-sm-12 text-start order-lg-2" id="text-content">
            <h1 style="color: #264461">Settings.</h1>
            <p>Number of bookmarks: <span class="fw-bold" style="color:rgb(151,205,112);">{{bookmarks_len}}</span></p>

            <h4 class="text-muted mt-3">Useful Features</h4>

            <!-- Upload bookmark file -->
            <p class="text-muted">Upload bookmarks from Chrome or export from Webpin</p>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="input-group">
                    <input type="file" name="bookmark_file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload" accept=".html" required>
                </div>
                <button type="submit" name="upload_bookmarks" class="btn btn-white border rounded-3 shadow-sm fw-bold mt-1" id="settings_button"><i class="fa-solid fa-arrow-up"></i> Upload bookmarks</button>
            </form>

            <!-- Export bookmarks -->
            {% if all_user_bookmarks_list %}
                <div class="mt-3">
                    <a href="{% url 'bookmark_download' %}" class="btn btn-white border rounded-3 shadow-sm fw-bold" id="settings_button"><i class="fa-solid fa-file-arrow-down"></i> Export bookmarks</a>
                </div>
            {% endif %}

            <legend class="border-bottom mt-3" id="legend_border" style="width: 500px;"></legend>

            <div>
                <h4 class="text-muted mt-3">The Danger Zone</h4>
            </div>

            <!-- Delete bookmarks -->
            {% if all_user_bookmarks_list %}
                <div class="mt-3">
                    <button class="btn fw-bold rounded-3 shadow-sm border text-danger" id="settings_button" type="button" data-bs-toggle="modal" data-bs-target="#DeleteAllBookmarksModal"><i class="fa-sharp fa-solid fa-trash"></i> Delete all my bookmarks</button>
                </div>

                <!-- Modal -->
                <form method="post">
                {% csrf_token %}
                    <div class="modal fade" id="DeleteAllBookmarksModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Are you sure you want to delete all your bookmarks?</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body text-center">
                                    <input class="btn btn-danger" type="submit" name="delete_all_bookmarks" value="Delete">
                                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

            {% else %}
                <p class="fw-bold text-danger">You don't have any bookmarks :(</p>
            {% endif %}

            <div>
                <!-- <i class="fa-solid fa-user-slash"></i> -->
                <a href="{% url 'delete_user' %}" class="btn btn-danger border my-3 rounded-3 shadow-sm" id="delete_user_button"> Delete my account</a>
            </div>

            <div>
                <a href="{% url 'user_profile' %}" class="btn btn-white border mt-3 rounded-3 shadow-sm">Back</a>
            </div>
            
        </div>

        <div class="col-lg-6 col-sm-12 text-center order-lg-2 mb-3">
			{% load static %}
			<img class="p-3" src="{% static '/bookmarks_main/undraw_switches_1js3.svg' %}" alt="undraw_pin" height="100%" width="80%">
		</div>
	</div>
</div>
{% endblock %}