{% extends './template.html' %}

{% block content %}

<style>
@media screen and (min-width: 1200px) {
    #list{
        width: 300px;
        margin-top:25px;
    }

    }
</style>
<div class="container">

    <!-- devblog #1 -->
    <div class="row">
        <div class="col-lg-3 col-md-12 col-sm-12">
            <div class="row d-flex flex-column flex-shrink-0 p-3 border shadow-sm rounded" id="list">
                <div class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
                  <span class="fs-4">Blog history</span>
                </div>
                <hr class="mt-lg-1 mt-sm-0">
                <ul class="nav nav-pills flex-column mb-auto">
                  <li class="nav-item">
                    <a href="{% url 'home-main' %}" class="nav-link" aria-current="page">
                      Back
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#devblog1" class="nav-link" aria-current="page">
                      Development blog #1
                    </a>
                  </li>
                </ul>

              </div>
        </div>

        <!-- blog area -->
        <div class="col-lg-9 ">
            <div class="Heading pb-1">
                <h1 class="mt-3 mb-0" style="color: #264461" id="devblog1">Development blog #1</h1>
                <div class="text-muted">1st May 2023</div>
                <hr>
            </div>
            <div class="my-3 fs-5">
                <p>
                    Webpin.co.uk came to be in response to a common problem: stumbling upon interesting articles and websites when there was no time to read them. Sending links to myself via email proves to be messy and inefficient, while on the other hand using my browser's bookmark system limits the ability to access these sites on other devices. Although services like Instapaper offer a simplistic user interface, they fall short when it comes to the overall user experience. Therefore, Webpin was created to address these issues and provide (hopefully) a better solution.
                    <br><br>
                    The vision for Webpin is straightforward:  provide a simple user-friendly web application that enables people to add and organise their links across multiple devices with ease. While Google Chrome offers useful features such as "Reading lists," they are limited to a single device and are not accessible if your devices are not synced. This can be frustrating when you finally have the opportunity to read an article on your phone during your commute, but because you aren’t logged in and synced you can't access your bookmarks. With Webpin, this problem is solved, and users can access their links anytime, anywhere, regardless of their device or platform - assuming an internet connection.
                    <br><br>
                    While I have been dabbling in Django and web development for a few years, I have never actually completed a web-app project. This is precisely why I am committed to seeing Webpin through from start to finish. As Webpin addresses a niche problem of my own, I am able to prioritise my own preferences and avoid working on tasks that do not align with my own ideas.
                    <br><br>
                    The purpose of this development blog is twofold, one: serve as a platform to track progress with the site and two: hold my decisions accountable. Additionally, I hope that this blog will lend some authenticity to the website. In upcoming posts, I plan to delve into more technical aspects of the project, discussing the code and general development with Django. The aim is to publish these devblogs on a regular basis, ideally once per month, but life may get in the way.
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}