{% extends './template.html' %}

{% block content %}

<style>

@media screen and (min-width: 992px) {
#main-row {
	margin-top: 0%;
}
}

</style>

<div class="container">
	<!-- ROW 0 -->
	<div class="row px-3 pb-3 border-bottom " id="main-row">
		<div class="col-lg-6 col-sm-12 text-center order-lg-2 mb-3">
			{% load static %}
			<img src="{% static '/bookmarks_main/undraw_pin.png' %}" alt="undraw_pin" height="100%" width="100%">
		</div>
		<div class="col-lg-6 col-sm-12 text-center d-flex align-items-center order-lg-1">
			<div class="row">
				<h1 class="text-start fw-bold fs-1" style="color: #264461">Save things for later.</h1>
				<p class="text-start fs-5">Instead of sending yourself links, save interesting <br>content to your personal web archive.</p>
				<div class="d-flex justify-content-start">
					<a class="mt-1 p-2 btn btn-sm rounded-3 shadow-sm col-lg-3 col-sm-3 fw-bold fs-6" style="background-color: rgb(151,205,112); color:white;" href="{% url 'register_user' %}">Get Started!</a>
				</div>
			</div>
		</div>
	</div>
	<!-- ROW 1 -->
	<div class="row px-3 pb-3 border-bottom">
		<div class="col-lg-6 col-sm-12 text-center order-lg-1 mb-3">
			{% load static %}
			<img src="{% static '/bookmarks_main/undraw_mobile_devices.png' %}" alt="undraw_pin" height="100%" width="100%">
		</div>
		<div class="col-lg-6 col-sm-12 text-center d-flex align-items-center order-lg-2">
			<div class="row">
				<h1 class="text-end fw-bold fs-1" style="color: #264461">Read anywhere.</h1>
				<p class="text-end fs-5">Revisit your bookmarks any time, anywhere.</p>
				<div class="d-flex justify-content-end">
					<a class="mt-1 p-2 btn btn-sm rounded-3 shadow-sm col-lg-3 col-sm-3 fw-bold fs-6" style="background-color: rgb(151,205,112); color:white;" href="{% url 'register_user' %}">Get Started!</a>
				</div>
			</div>
		</div>
	</div>
	<!-- ROW 2 -->
	<div class="row px-3 pb-3" id="main-row">
		<div class="col-lg-6 col-sm-12 text-center order-lg-2 mb-3">
			{% load static %}
			<img src="{% static '/bookmarks_main/undraw_Note_list.png' %}" alt="undraw_pin" height="100%" width="100%">
		</div>
		<div class="col-lg-6 col-sm-12 text-center d-flex align-items-center order-lg-1">
			<div class="row">
				<h1 class="text-start fw-bold fs-1" style="color: #264461">Organise your content.</h1>
				<p class="text-start fs-5">Organize your content effortlessly and browse it by categories!</p>
				<div class="d-flex justify-content-start">
					<a class="mt-1 p-2 btn btn-sm rounded-3 shadow-sm col-lg-3 col-sm-3 fw-bold fs-6" style="background-color: rgb(151,205,112); color:white;" href="{% url 'register_user' %}">Get Started!</a>
				</div>
			</div>
		</div>
	</div>
</div>


{% endblock %}